* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30336b;
  gap: 10rem;
}

.counter-container {
  color: #ecf0f1;
  text-align: center;
}

.counter-container i {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

.counter-container span {
  font-size: 1.4rem;
}
