* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #0c2461;
}

h1 {
  color: #f5f6fa;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
