@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Dancing+Script:wght@400..700&family=Flamenco&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,500;1,500&family=Pacifico&family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ecf0f1;
}

.heading {
  padding: 1rem 0.5rem;
  background-color: #f39c12;
}

.heading i {
  color: #000;
}

.btn-div {
  position: fixed;
  top: 7rem;
  right: 1rem;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -ms-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #f1c12e;
  border-radius: 1.625rem;
  -webkit-border-radius: 1.625rem;
  -moz-border-radius: 1.625rem;
  -ms-border-radius: 1.625rem;
  -o-border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -ms-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -ms-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -moz-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -ms-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  -o-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
  -webkit-transform: translate(1rem, 0);
  -moz-transform: translate(1rem, 0);
  -ms-transform: translate(1rem, 0);
  -o-transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
